<!DOCTYPE html>
<html>
  <html>
    <head>
      <meta charset="utf-8" />
      <link  rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
      <style>
        tr.htmx-swapping td {
                              opacity: 0;
                              transition: opacity 1s ease-out;
                            }
      </style>
      
      <title>AI Library</title>
    </head>
    <body>
      <header><h3>Library</h3></header>
      <main>
        <form hx-put="/api/books" hx-ext="bookjson" hx-target="this" hx-swap="outerHTML">
          <div class="form-group"> 
            <label>Book Name</label>
            <input id="name" type="text" name="Name" value="Kalam">
          </div>
          <div class="form-group">
            <label>Author</label>
            <input id="author" type="text" name="Author" value="M.T Vasudevan Nair">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input id="description" type="text" name="Description" value="A story, Once upon a time">
          </div>
          <div class="form-group">
            <label>Library</label>
            <input id="library" type="text" name="Library" value="Kalista">
          </div>
          <button class="btn" hx-post="/api/books" hx-target='#books' hx-swap="afterbegin" >Insert</button>
          <button class="btn" hx-get="/api/books" hx-target='#bookresponse' hx-swap="innerHTML">Refresh Books</button>
        </form>
        <div id="bookresponse" hx-get="/api/books"  hx-trigger="load" hx-swap="beforeend">My Books</div>
      </main>
      <footer><h3>Rajesh Radhakrishnan</h3></footer>
    </body>
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    <script>
      htmx.defineExtension('bookjson', {
        onEvent: function (name, evt) {
          if (name === "htmx:configRequest") {
            evt.detail.headers['Content-Type'] = "application/json"
            evt.detail.headers['X-API-Key'] = 'sjk_xxx'
          }
        },
        encodeParameters: function(xhr, parameters, elt) {
          xhr.overrideMimeType('text/json') // override default mime type
          var payload = JSON.stringify(parameters)
          console.log(payload)
          return (payload)
        }
      })
    </script>
  </html>
</html>
